.css1 {
    font-size: 1.0em;
}

.css2 {
    font-size: 1.2em;
}

.css3 {
    font-size: 1.4em;
}

.css4 {
    font-size: 1.6em;
}

.css5 {
    font-size: 1.8em;
}

.css6 {
    font-size: 2.0em;
}

.css1, .css2, .css3, .css4, .css5, .css6 {
    text-decoration: none;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.listing {
    -moz-border-radius: 15px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #888;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    margin-top: 50px;
    width: 300px;
    text-align: center;
    padding: 5px 5px 5px 15px;
}

.column-left {
    float: left;
    margin-left: 20px;
    width: 25%;
}

.column-right {
    float: right;
    width: 25%;
}

.column-middle {
    float: left;
    margin-left: 30px;
    margin-top: 50px;
    width: 40%;
    height: 500px;
}

.column-left > .listing {
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
}

.column-right > .listing {
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
}

.positives {
    background-color: greenyellow;
}

.concerns {
    background-color: orange;
}

.wishes {
    background-color: deepskyblue;
}

.risks {
    background-color: yellow;
}

.new_content {
    float: left;
    width: 800px;
}

.available_tags {
    float: left;
    width: 200px;
}

.item-listing {
    border-bottom: 1px solid #000000;
    color: #204D79;
    display: block;
    padding: 0 0 0 16px;
    text-decoration: none;
    background: none repeat scroll 0 0 #EFF2F6;
}

.ui-widget {
        font: small Monaco, Geneva, Arial, Helvetica, sans-serif !important;
}
body {
    color: #555555;
    font: small Monaco, Geneva, Arial, Helvetica, sans-serif;
    min-width: 1000px;
    min-height: 600px;
}

tr:nth-child(odd) {
    background-color: yellow;
}

tr:nth-child(even) {
    background-color: greenyellow;
}

.scrollE1 {
    -moz-box-shadow: 2px 2px 2px rgb(153, 153, 153); display: block; background-color: rgb(153, 153, 255);
}