.css1 {
    font-size: 1.0em;
}

.css2 {
    font-size: 1.2em;
}

.css3 {
    font-size: 1.4em;
}

.css4 {
    font-size: 1.6em;
}

.css5 {
    font-size: 1.8em;
}

.css6 {
    font-size: 2.0em;
}

.css1, .css2, .css3, .css4, .css5, .css6 {
    text-decoration: none;
    text-shadow: #B6CDDB 0px 2px 2px;
}

.listing {
    -moz-border-radius: 15px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #888;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    margin-top: 20px;
    /*text-shadow: #ffffff 2px 2px 2px;*/
}

.column1 {
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    float: left;
    margin-left: 20px;
}
.column2 {
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    float :right;
    margin-right: 30px;
}

.wishes, .positives {
    background-color: greenyellow;
    width: 300px;
    text-align: center;
    padding: 5px 5px 5px 15px;
}

.risks, .concerns {
    background-color: yellow;
    width: 300px;
    text-align: center;
    padding: 5px 5px 5px 15px;
}

.new_content {
    float: left;
    width: 800px;
}

.available_tags {
    float: left;
    width: 200px;
}


.item-listing {
    border-bottom:1px solid #000000;
    color:#204D79;
    display:block;
    padding:0 0 0 16px;
    text-decoration:none;
    background: none repeat scroll 0 0 #EFF2F6;
}
body {
color:#555555;
font:small Monaco,Geneva,Arial,Helvetica,sans-serif;
}