.css1 {
    font-size: 1.0em;
}

.css2 {
    font-size: 1.2em;
}

.css3 {
    font-size: 1.4em;
}

.css4 {
    font-size: 1.6em;
}

.css5 {
    font-size: 1.8em;
}

.css6 {
    font-size: 2.0em;
}

.css1, .css2, .css3, .css4, .css5, .css6 {
    text-decoration: none;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.listing {
    -moz-border-radius: 15px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #888;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    width: 300px;
    text-align: center;
    padding: 5px 5px 5px 15px;
}

.image-slider {
    box-shadow: 10px 10px 5px #888;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    height: 175px;
    width: 250px;
    float: right;
    margin-right: 40px;
}


.column-left {
    float: left;
    margin-left: 20px;
    width: 25%;
    height: 450px;
}

.column-right {
    float: right;
    width: 25%;
    height: 450px;
}

.column-middle {
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    width: 43%;
    height: 450px;
}

.tag_cloud > a{
    color: mediumblue;
}

.tag_cloud > a:hover{
    color: forestgreen;
}

.column-left > .listing {
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
}

.column-right > .listing {
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
}

.column-left > .concerns, .column-right > .risks {
    margin-top: 30px;
}

.positives {
    background-color: greenyellow;
}

.concerns {
    background-color: orange;
}

.wishes {
    background-color: deepskyblue;
}

.risks {
    background-color: yellow;
}

.new_content {
    float: left;
    width: 800px;
}

.available_tags {
    float: left;
    width: 200px;
}

.item-listing {
    border-bottom: 1px solid #000000;
    color: #204D79;
    display: block;
    padding: 0 0 0 16px;
    text-decoration: none;
    background: none repeat scroll 0 0 #EFF2F6;
}

.ui-widget {
        font: small Monaco, Geneva, Arial, Helvetica, sans-serif !important;
}
body {
    color: #555555;
    font: small Monaco, Geneva, Arial, Helvetica, sans-serif;
    width: 1400px;
    height: 730px;
}

tr:nth-child(odd) {
    background-color: yellow;
}

tr:nth-child(even) {
    background-color: greenyellow;
}

.action-heading {
    font-weight: bold;
    color:chocolate;
    width: 100%;
    margin-bottom: 5px;
}

.controls {
    height:auto;
    overflow:hidden;
    padding-bottom:5px;
    position:relative;
    width:50px;
    float: left;
}