<div class="column1">
  <div class="positives listing">
    <h2>We are happy about...</h2>

    <div class="tag_cloud">
      <% tag_cloud(@positives_tags, %w(     css1 css2 css3 css4 css5 css6    )) do |tag, css_class| %>
          <%= link_to tag.name, tag_url(:tag => tag.name, :category => :positives), :class => css_class %>
      <% end %>
    </div>
  </div>

  <div class="concerns listing">
    <h2>We are worried about...</h2>

    <div class="tag_cloud">
      <% tag_cloud(@concerns_tags, %w(     css1 css2 css3 css4 css5 css6    )) do |tag, css_class| %>
          <%= link_to tag.name, tag_url(:tag => tag.name, :category => :concerns), :class => css_class %>
      <% end %>
    </div>
  </div>

</div>
<div class="column2">
  <div class="wishes listing">
    <h2>Our Wishes</h2>

    <div class="tag_cloud">
      <% tag_cloud(@wishes_tags, %w(     css1 css2 css3 css4 css5 css6    )) do |tag, css_class| %>
          <%= link_to tag.name, tag_url(:tag => tag.name, :category => :wishes), :class => css_class %>
      <% end %>
    </div>
  </div>
  <div class="risks listing">
    <h2>Risks</h2>

    <div class="tag_cloud">
      <% tag_cloud(@risks_tags, %w(     css1 css2 css3 css4 css5 css6    )) do |tag, css_class| %>
          <%= link_to tag.name, tag_url(:tag => tag.name, :category => :risks), :class => css_class %>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">

    $(".tag_cloud a").fancybox({
        'transitionIn'    :    'elastic',
        'transitionOut'    :    'elastic',
        'speedIn'        :    600,
        'speedOut'        :    200,
        'overlayShow'    :    false
    });

</script>